<div class="footer">
  <div class="container">
    <div class="footer-bootom row">
      <div class="col-sm-6 my-3">
        <p>
          <i class="fa fa-phone mx-4" aria-hidden="true"></i>
          02-47114302,01717-002392,
          01926-604863</p>
        <p>
          <i class="fas fa-map-marker-alt mx-4"></i>
          165,Nawabpur Road.Center Electric Market Dhaka</p>
      </div>
      <div class="col-sm-6 navbar navbar-expand-sm">
        <div class="social-icons navbar-nav d-flex text-center flex-grow-1">
          <a href="https://www.facebook.com/Arial-Fan-108575261617411"><i class="fab fa-facebook-square"></i></a>
          <a href=""><i class="fab fa-twitter-square"></i></a>
          <a href=""><i class="fab fa-google-plus-square"></i></a>
          <a href=""><i class="fas fa-basketball-ball"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

