<div class="container">
  <div class="row">
    <div class="container-fluid">
      <div class="px-lg-5">

        <div class="col-12 text-center">
          <h2 class="mt-4 mb-4">Products</h2>
        </div>

        <div class="row">
          <!-- Gallery item -->
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge  px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge  px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm"><img src="assets/3.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5><a href="#" class="text-dark">Product Name</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i>
                    <span class="font-weight-bold">Price</span>
                  </p>
                  <div class="badge px-3 rounded-pill font-weight-normal">View</div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="py-3 text-right">
          <a href="#" class="btn px-5 py-3 text-uppercase">Show more</a>
        </div>
      </div>
    </div>
  </div>
</div>
